*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 300vh;
    font-family: 'Poppins';
    /* background-image: url('/static/textures/background.jpg'); */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.logo {
    position: fixed;
    margin-left: 130px;
    margin-top: 130px;
    z-index: 99;
    background-image: url('/static/images/genosha-logo.png');
    background-color: rgb(60, 61, 61);
    background-size: contain;
    cursor: pointer;
    width: 104.9px;
    height: 23.4px;

}

.end {
    position: relative;
    margin-left: 330px;
    margin-top: 330px;
}

.container {
    height: 100vh;
 
}
